.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#captcha-wrapper {
    padding: auto;
  width: 60%;
  /*height: 60px !important;
  background-color: gray;*/
}

.vertical-condense {
  padding-bottom: 0;
  margin-bottom: 0;
}

audio {
    display: none;
}

.glyphicon-refresh-animate {
    -animation: spin .7s infinite linear;
    -webkit-animation: spin2 .7s infinite linear;
}

@-webkit-keyframes spin2 {
    from { -webkit-transform: rotate(0deg);}
    to { -webkit-transform: rotate(360deg);}
}

@keyframes spin {
    from { transform: scale(1) rotate(0deg);}
    to { transform: scale(1) rotate(360deg);}
}

.bottom-spacer {
    width: 10px;
    height: 92px;
}
